<nav class="absolute left-1/2 -translate-x-1/2">
<a href="{% url 'home' %}" class="text-xl font-medium text-orange-500 hover:text-orange-600">Home</a>
<a href="{% url 'menu' %}" class="text-xl font-medium text-orange-500 hover:text-orange-600">Menu</a>
<a href="{% url 'track' %}" class="text-xl font-medium text-orange-500 hover:text-orange-600">Order Track</a>
<a href="{% url 'reservation' %}" class="text-xl font-medium text-orange-500 hover:text-orange-600">Reserve Table</a>
<a href="{% url 'contacts' %}" class="text-xl font-medium text-orange-500 hover:text-orange-600">Contacts</a>
</nav>

